/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    /* background-color: black; */
    font-family: "Roboto";
}
/* #endregion common */

/* #region utility */
.va-m {
    vertical-align: middle;
}

.container {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 1.5rem 2.5rem;
}

.top-radius {
    border-radius: 0.8rem 0.8rem 0 0;
    margin-bottom: 0.2rem;
}

.bottom-radius {
    border-radius: 0 0 0.8rem 0.8rem;
    margin-bottom: 4rem;
}

.btn {
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
}

.tag {
    color: white;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 1rem;
    font-size: 0.8rem;
}

/* tag colors */
.editorial {
    background-color: #45abe9;
}

.q1goals {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a0;
}

.sales {
    background-color: #b0c926;
}

.list-unstyled {
    list-style: none;
}

/* entities */
.check {
    color: #80ccba;
    border: 0.1rem solid #80ccba;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    text-align: center;
    line-height: 1.5rem;
}

.cross {
    color: #eb5a54;
    border: 0.1rem solid #eb5a54;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    text-align: center;
    line-height: 1.5rem;
}

.triangle {
    display: inline-block;
    transform: scaleY(0.5);
}
/* #endregion utility */

header, footer {
    background-color: white;
    padding: 0.75rem 2rem;
}

.logo_txt {
    display: inline-block;
    font-size: 2.5rem;
}

/* buttons */
#add_task {
    background-color: #47adf1;
    border: 1px solid #47adf1;
    color: white;
}

#add_section {
    background-color: white;
    border: 1px solid #ced3d7;
    color: #ced3d7;
}


main {
    margin-top: 3rem;
}

main details {
    margin-bottom: 1rem;
}

details summary {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0.25rem;
    margin-bottom: 0.5rem;
}

details li {
    margin-bottom: 1rem;
}


footer span {
    font-weight: bold;
}